.local/
artifacts/
**/bin/
**/obj/
/Library/
**/Temp/
**/Logs/
**/UserSettings/
assets/authoring/*.blend1
assets/authoring/*.log
**/__pycache__/

# Private workflow files (also read by Package.ps1).
# BEGIN PRIVATE WORKFLOW EXCLUSIONS
[aA][gG][eE][nN][tT][sS].[mM][dD]
[aA][gG][eE][nN][tT][sS].[oO][vV][eE][rR][rR][iI][dD][eE].[mM][dD]
[cC][lL][aA][uU][dD][eE].[mM][dD]
[gG][eE][mM][iI][nN][iI].[mM][dD]
[cC][oO][pP][iI][lL][oO][tT]-[iI][nN][sS][tT][rR][uU][cC][tT][iI][oO][nN][sS].[mM][dD]
.[cC][uU][rR][sS][oO][rR][rR][uU][lL][eE][sS]
.[wW][iI][nN][dD][sS][uU][rR][fF][rR][uU][lL][eE][sS]
.[aA][iI][dD][eE][rR]*
.[aA][iI][dD][eE][rR]*/
.[aA][gG][eE][nN][tT][sS]/
.[cC][oO][dD][eE][xX]/
.[cC][lL][aA][uU][dD][eE]/
.[cC][uU][rR][sS][oO][rR]/
.[wW][iI][nN][dD][sS][uU][rR][fF]/
[pP][lL][aA][nN][sS]/
[pP][lL][aA][nN][nN][iI][nN][gG]/
[bB][aA][cC][kK][lL][oO][gG]/
[rR][oO][aA][dD][mM][aA][pP][sS]/
[hH][aA][nN][dD][oO][fF][fF][sS]/
[sS][eE][sS][sS][iI][oO][nN][sS]/
[pP][lL][aA][nN].[mM][dD]
[pP][lL][aA][nN][-_]*.[mM][dD]
*[-_][pP][lL][aA][nN].[mM][dD]
[pP][lL][aA][nN].[tT][xX][tT]
[pP][lL][aA][nN][-_]*.[tT][xX][tT]
*[-_][pP][lL][aA][nN].[tT][xX][tT]
[pP][lL][aA][nN][nN][iI][nN][gG].[mM][dD]
[pP][lL][aA][nN][nN][iI][nN][gG][-_]*.[mM][dD]
*[-_][pP][lL][aA][nN][nN][iI][nN][gG].[mM][dD]
[pP][lL][aA][nN][nN][iI][nN][gG].[tT][xX][tT]
[pP][lL][aA][nN][nN][iI][nN][gG][-_]*.[tT][xX][tT]
*[-_][pP][lL][aA][nN][nN][iI][nN][gG].[tT][xX][tT]
[bB][aA][cC][kK][lL][oO][gG].[mM][dD]
[bB][aA][cC][kK][lL][oO][gG][-_]*.[mM][dD]
*[-_][bB][aA][cC][kK][lL][oO][gG].[mM][dD]
[bB][aA][cC][kK][lL][oO][gG].[tT][xX][tT]
[bB][aA][cC][kK][lL][oO][gG][-_]*.[tT][xX][tT]
*[-_][bB][aA][cC][kK][lL][oO][gG].[tT][xX][tT]
[rR][oO][aA][dD][mM][aA][pP].[mM][dD]
[rR][oO][aA][dD][mM][aA][pP][-_]*.[mM][dD]
*[-_][rR][oO][aA][dD][mM][aA][pP].[mM][dD]
[rR][oO][aA][dD][mM][aA][pP].[tT][xX][tT]
[rR][oO][aA][dD][mM][aA][pP][-_]*.[tT][xX][tT]
*[-_][rR][oO][aA][dD][mM][aA][pP].[tT][xX][tT]
[tT][oO][dD][oO].[mM][dD]
[tT][oO][dD][oO][-_]*.[mM][dD]
*[-_][tT][oO][dD][oO].[mM][dD]
[tT][oO][dD][oO].[tT][xX][tT]
[tT][oO][dD][oO][-_]*.[tT][xX][tT]
*[-_][tT][oO][dD][oO].[tT][xX][tT]
[hH][aA][nN][dD][oO][fF][fF].[mM][dD]
[hH][aA][nN][dD][oO][fF][fF][-_]*.[mM][dD]
*[-_][hH][aA][nN][dD][oO][fF][fF].[mM][dD]
[hH][aA][nN][dD][oO][fF][fF].[tT][xX][tT]
[hH][aA][nN][dD][oO][fF][fF][-_]*.[tT][xX][tT]
*[-_][hH][aA][nN][dD][oO][fF][fF].[tT][xX][tT]
[sS][eE][sS][sS][iI][oO][nN].[mM][dD]
[sS][eE][sS][sS][iI][oO][nN][-_]*.[mM][dD]
*[-_][sS][eE][sS][sS][iI][oO][nN].[mM][dD]
[sS][eE][sS][sS][iI][oO][nN].[tT][xX][tT]
[sS][eE][sS][sS][iI][oO][nN][-_]*.[tT][xX][tT]
*[-_][sS][eE][sS][sS][iI][oO][nN].[tT][xX][tT]
[dD][oO][cC][sS]/[vV][aA][lL][iI][dD][aA][tT][iI][oO][nN].[mM][dD]
# END PRIVATE WORKFLOW EXCLUSIONS
